.work {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    vertical-align: top;
    &.inprogress {
        background-color: yellow;
    }
    &.finished {
        background-color: green;
    }
    &.crashed {
        background-color: red;
    }
}
