<form [formGroup]="productForm" (submit)="submit()">
    <label for="productName">Product name</label>
    <input id="productName" formControlName="name" />
    <span *ngIf="productForm.controls.name.touched && productForm.controls.name.errors?.required" class="validationError">This field is required!</span><br><br>

    <label for="productPrice">Price</label>
    <input id="productPrice" formControlName="price" />
    <span *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.required" class="validationError">This field is required!</span>
    <span *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.pattern" class="validationError">Valid number must be entered!</span>
    <span *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.min" class="validationError">Price must be zero or greater!</span><br><br>

    <label for="productDiscount">Discount (%)</label>
    <input id="productDiscount" formControlName="discount" />
    <span *ngIf="productForm.controls.discount.touched && productForm.controls.discount.errors?.required" class="validationError">This field is required!</span>
    <span *ngIf="productForm.controls.discount.touched && productForm.controls.discount.errors?.pattern" class="validationError">Valid number must be entered!</span>
    <span *ngIf="productForm.controls.discount.touched && productForm.controls.discount.errors?.min" class="validationError">Discount must be zero or greater!</span>
    <span *ngIf="productForm.controls.discount.touched && productForm.controls.discount.errors?.max" class="validationError">Discount can't be greater than 100%!</span>
    <br><br>
    <button type="submit" [disabled]="productForm.invalid">Submit</button>

    <div *ngIf="isProductAdded" class="success">New Product successfully added!</div>
</form>
